@import '../app.component.scss';

$icon-sixe: 40px;
$button-transition: .5s;

.contact {
    display: flex;
    background-color: var(--color3);
    height: 100%;
    width: 100%;
    margin: auto;
    transition: background-color 1s ease-out;
}

.content {
    background-color: var(--color3);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 1s ease-out;
    padding: 40px;
    display: block;
    color: var(--color1);

    @media only screen and (max-width: 550px) {
        padding: 20px;
    }
}

mat-icon {
    height: $icon-sixe;
    width: $icon-sixe;
    margin-top: auto;
    margin-bottom: auto;
}

//#region Header

.header {
    padding-bottom: 50px;
    color: var(--color1);

    & h1 {
        font-size: 40px;
    }

    & h3 {
        font-size: 30px;
        font-weight: normal;

        & span {
            font-weight: bold;
        }
    }

    & h3, & p {
        margin: auto;
    }
}

//#endregion

//#region Contact Section

.contact-header {
    display: flex;
    color: var(--color1);

    & mat-icon {
        color: var(--color2);
    }

    & h2 {
        font-size: 30px;
    }
}

.contact-header-text {
    color: var(--color1);
    & p {
        margin: 10px auto;
        display: flex;
        & span {
            content: "";
            color: var(--color4);
            border: 2px solid var(--color4);
            margin: 7px 5px auto 5px;
            font-size: 0px;
            display: inline-block;
        }
    }
}

.contact-form-header {
    max-width: 500px;
    padding-bottom: 20px;

    & a {
        text-decoration: none;
        color: var(--color2);
        cursor: pointer;
    }
}

//#endregion

//#region Form Section

form {
    width: 300px;

    &.ng-invalid button {
        &::before {
            width: 0px;
        }
        & span {
            color: var(--color1);
        }
    }
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 2px solid var(--color1);

    & span.invalid-message{
        margin-left: 5px;
        color: var(--color4);
        display: none;
    }

    & textarea {
        min-height: 200px;
    }

    & input, & textarea {
        background: none;
        outline: none;
        border: none;
        margin: 10px 0px;
        max-width: 100%;
        color: var(--color1);
        font-size: 20px;
    }

    &::before, &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        transition: width .45s cubic-bezier(.694,.048,.335,1);
    }

    &::before {
        z-index: 10;
        transition-delay: .1s;
        background: var(--color2);
    }

    &::after {
        z-index: 9;
        background: var(--color4);
    }

    &:hover {
        &::before, &::after {
            width: 101%;
        }
    }

    &.is-invalid {
        &::before {
            width: 0%;
        }
        &::after {
            width: 101%;
        }

        & span.invalid-message {
            display: inline-block;
        }
    }
}

button {
    font-size: 20px;
    background: none;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;

    &::before {
        content: "";
        height: 56px;
        width: 0px;
        background: var(--color1);
        position: absolute;
        margin: -10px -20px;
        z-index: 9;
        transition: $button-transition;
    }

    & span {
        position: absolute;
        outline: none;
        border: 2px solid var(--color1);
        z-index: 10;
        margin: -10px -20px;
        padding: 15px 20px;
        color: var(--color1);
        transition: $button-transition;
        width: 137px;
    }

    &:hover {
        &::before {
            width: 179px;
        }

        & span {
            color: var(--color3);
        }
    }
}

//#endregion

//#region Message Response Section

.message-response {
    display: none;
    margin-top: 50px;
    max-width: 500px;
}

.message-sent {
    display: block;
}

.message-success {
    color: var(--color2);
}

.message-failed {
    color: var(--color4);
}

//#endregion

.footer-spacing {
    margin-top: 50px;
}