$color-palette-1: #364f6b;
$color-palette-2: #3fc1c9;
$color-palette-3: #f5f5f5;
$color-palette-4: #fc5185;

// Dark Theme

$color-palette-5: #9db7cd;
$color-palette-6: #51c7ce;
$color-palette-7: #1E2021;
$color-palette-8: #fc5386;

:host {
    width: 100%;
    min-height: 100vh;
}

::ng-deep html {
    --color1: #{$color-palette-1};
    --color2: #{$color-palette-2};
    --color3: #{$color-palette-3};
    --color4: #{$color-palette-4};
    transition: 1s;
}

::ng-deep html[theme='dark'] {
    --color1: #{$color-palette-5};
    --color2: #{$color-palette-6};
    --color3: #{$color-palette-7};
    --color4: #{$color-palette-8};
}

::ng-deep menu-component {
    --color1: #{$color-palette-1};
    --color2: #{$color-palette-2};
    --color3: #{$color-palette-3};
    --color4: #{$color-palette-4};
}